.earnings-box {
  display: flex;
  align-items: center;
  min-width: 450px;
  padding: 15px;
  border-radius: 20px;
  height: 150.5px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
}

.divider {
  color: white;
  width: 2px;
  height: 70%;
  background-color: #757575;
  margin: 0 15px;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 15px;
}

.left-section {
  display: flex;
}

.right-section h3,
.left-section h3 {
  margin: 0;
  font-size: 14px;
  color: white;
}

.left-section h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: white;
}

.today-earnings,
.total-earnings {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.uptime-info {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .earnings-box {
    min-width: 50px;
    height: 90px;
  }
  .right-section h3,
  .left-section h3 {
    font-size: 10px;
  }

  .right-section {
    margin: 0;
  }

  .icon-container img {
    width: 45px;
    height: 45px;
  }
  .icon-container {
    padding-right: 15px;
  }
  .left-section h4 {
    font-size: clamp(14px, 3.5vw, 16px);
  }

  .today-earnings,
  .total-earnings {
    font-size: clamp(24px, 5vw, 20px);
  }

  .uptime-info {
    font-size: clamp(7px, 1.5vw, 9px);
  }
}

@media (max-width: 768px) {
  .sidebar-icon-coins {
    width: 48px;
  }

  .left-section h4 {
    font-size: clamp(14px, 4vw + 1rem, 18px);
  }

  .today-earnings,
  .total-earnings {
    font-size: clamp(30px, 7vw, 24px);
  }

  .uptime-info {
    font-size: clamp(8px, 2vw, 9px);
  }
}

@media (max-width: 520px) {
  .right-section h3,
  .left-section h3 {
    font-size: 8px;
  }

  .sidebar-icon-coins {
    width: 38px;
  }

  .left-section h4 {
    font-size: clamp(12px, 3vw, 14px);
  }

  .today-earnings,
  .total-earnings {
    font-size: 14px;
  }

  .uptime-info {
    font-size: 7px;
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .right-section h3,
  .left-section h3 {
    font-size: 16px;
  }

  .left-section h4 {
    font-size: clamp(20px, 2vw + 1rem, 24px);
  }

  .today-earnings,
  .total-earnings {
    font-size: clamp(30px, 3vw + 1rem, 28px);
  }

  .uptime-info {
    font-size: 10px;
  }
}
