{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.gridcomputing.tech","description":"Generated server url"}],"paths":{"/v1/coins/{coinId}/verification":{"put":{"tags":["coin-controller"],"operationId":"checkVerification","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckVerificationResponse"}}}}}}},"/v1/coins/{coinId}/tx":{"put":{"tags":["coin-controller"],"operationId":"updateMaxTx","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMaxTxRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMaxTxResponse"}}}}}}},"/v1/coins/{coinId}/sign-launch-tx":{"put":{"tags":["coin-controller"],"operationId":"signLaunchTransaction","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignLaunchTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignLaunchTransactionResponse"}}}}}}},"/v1/coins/{coinId}/orders/auction-order":{"get":{"tags":["order-controller"],"operationId":"getAuctionOrder","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionOrder"}}}}}},"put":{"tags":["order-controller"],"operationId":"addAuctionOrder","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionOrder"}}}}}}},"/v1/coins/{coinId}/launch-type":{"put":{"tags":["coin-controller"],"operationId":"updateLaunchType","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ByLiquidity"},{"$ref":"#/components/schemas/ByMethod"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/LaunchByLiquidityData"},{"$ref":"#/components/schemas/LaunchByMethodData"}]}}}}}}},"/v1/coins/{coinId}/bundle-type":{"put":{"tags":["coin-controller"],"operationId":"updateBundleType","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BundleTypeUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/auction-state":{"put":{"tags":["coin-controller"],"operationId":"updateAuctionState","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionStateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/abi":{"put":{"tags":["coin-controller"],"operationId":"updateAbi","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAbiRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAbiResponse"}}}}}}},"/v1/users/":{"get":{"tags":["user-controller"],"operationId":"me","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}},"post":{"tags":["user-controller"],"operationId":"edit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/v1/nft/{coinId}/check-link":{"post":{"tags":["nft-controller"],"operationId":"checkNftLink","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckerResponse"}}}}}}},"/v1/lndry/cex/{type}":{"get":{"tags":["laundry-public-controller"],"operationId":"getCexSettings","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["MEXC"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CexSettings"}}}}}},"post":{"tags":["laundry-public-controller"],"operationId":"setCexSettings","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["MEXC"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CexSettings"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CexBalanceResponse"}}}}}}},"/v1/lndry/cex/{type}/withdraw":{"post":{"tags":["laundry-public-controller"],"operationId":"doCexWithdraw","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["MEXC"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawWalletRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawWalletResponse"}}}}}}},"/v1/comments":{"post":{"tags":["comment-controller"],"operationId":"createComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}}}}},"/v1/coins":{"get":{"tags":["coin-controller"],"operationId":"getCoins","parameters":[{"name":"rowsPerPage","in":"query","required":false,"schema":{"maximum":100,"minimum":0,"type":"integer","format":"int32","default":100}},{"name":"pageNum","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"DESC"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseCoinDto"}}}}}},"post":{"tags":["coin-controller"],"operationId":"createCoin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCoinRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/verify":{"post":{"tags":["coin-controller"],"operationId":"verify","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/reload":{"post":{"tags":["coin-controller"],"operationId":"reloadCoin","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/params":{"post":{"tags":["coin-controller"],"operationId":"fillGeneratorParams","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneratorParams"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/orders":{"get":{"tags":["order-controller"],"operationId":"getOrders","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrdersResponse"}}}}}},"post":{"tags":["order-controller"],"operationId":"addOrder","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrderResponse"}}}}}}},"/v1/coins/{coinId}/orders/{orderId}/sign":{"post":{"tags":["order-controller"],"operationId":"signOrder","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}},{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignOrderResponse"}}}}}}},"/v1/coins/{coinId}/orders/sign-mass":{"post":{"tags":["order-controller"],"operationId":"signMassOrder","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignOrderRequestMass"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignOrderResponse"}}}}}}},"/v1/coins/{coinId}/orders/auction-order/bribe":{"get":{"tags":["order-controller"],"operationId":"getAuctionOrderBribe","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BribeSignData"}}}}}},"post":{"tags":["order-controller"],"operationId":"updateAuctionOrderBribe","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBribeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BribeSignData"}}}}}}},"/v1/coins/{coinId}/launch":{"post":{"tags":["coin-controller"],"operationId":"launch","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinLaunchResponse"}}}}}}},"/v1/coins/{coinId}/launch-tx":{"get":{"tags":["coin-controller"],"operationId":"getLaunchMethodTransaction","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLaunchMethodTransactionResponse"}}}}}},"post":{"tags":["coin-controller"],"operationId":"createLaunchTransaction","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLaunchMethodTransactionResponse"}}}}}},"delete":{"tags":["coin-controller"],"operationId":"deleteLaunchTransaction","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteLaunchTransactionResponse"}}}}}}},"/v1/coins/{coinId}/generate":{"post":{"tags":["coin-controller"],"operationId":"generateCoin","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/generate-by-file":{"post":{"tags":["coin-controller"],"operationId":"generateCoin_1","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/deployed":{"post":{"tags":["coin-controller"],"operationId":"updateCoinWithDeployed","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeployCoinRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/check-paid":{"post":{"tags":["coin-controller"],"operationId":"checkPayment","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinId}/change-step/{newStep}":{"post":{"tags":["coin-controller"],"operationId":"updateCoinWithDeployed_1","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}},{"name":"newStep","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinDto"}}}}}}},"/v1/coins/{coinAddress}/metadata":{"post":{"tags":["coin-controller"],"operationId":"addAdditionalMetadata","parameters":[{"name":"coinAddress","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalMetadataDto"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/public/v1/sigma/submit-task":{"post":{"tags":["file-stat-controller"],"operationId":"submitTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/public/v1/file/upload":{"post":{"tags":["file-controller"],"operationId":"uploadFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadFileResponse"}}}}}}},"/public/v1/coins/transactions/tx":{"post":{"tags":["transaction-public-controller"],"operationId":"createOrderTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransactionResponse"}}}}}}},"/public/v1/coins/transactions/tx/{transactionId}":{"get":{"tags":["transaction-public-controller"],"operationId":"getTransaction","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTransactionResponse"}}}}}},"post":{"tags":["transaction-public-controller"],"operationId":"signTransaction","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignTransactionResponse"}}}}}}},"/public/v1/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/v1/lndry/cex/{type}/balance":{"get":{"tags":["laundry-public-controller"],"operationId":"getCexBalance","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["MEXC"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CexBalanceResponse"}}}}}}},"/v1/coins/{coinId}":{"get":{"tags":["coin-controller"],"operationId":"getCoin","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCoinResponse"}}}}}},"delete":{"tags":["coin-controller"],"operationId":"deleteCoin","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/coins/{coinId}/orders/auction":{"get":{"tags":["order-controller"],"operationId":"getAuctionOrders","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrdersResponse"}}}}}}},"/v1/coins/{coinId}/orders/auction/stats":{"get":{"tags":["order-controller"],"operationId":"getAuctionStats","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuctionStatsResponse"}}}}}}},"/v1/coins/{coinId}/events":{"get":{"tags":["coin-controller"],"operationId":"coinEventStream","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/public/v1/sigma/network":{"get":{"tags":["file-stat-controller"],"operationId":"networkStats","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NodeNetStat"}}}}}}},"/public/v1/sigma/me-dashboard":{"get":{"tags":["file-stat-controller"],"operationId":"userDashboard","parameters":[{"name":"wallet","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}}}}}},"/public/v1/sigma/generate-task":{"get":{"tags":["file-stat-controller"],"operationId":"generateTasks","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}}}}},"/public/v1/sigma/dashboard":{"get":{"tags":["file-stat-controller"],"operationId":"dashboard","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}}}}}},"/public/v1/coins":{"get":{"tags":["coin-public-controller"],"operationId":"getCoins_1","parameters":[{"name":"searchRequest","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"lockType","in":"query","required":false,"schema":{"type":"string","enum":["None","Burn","Lock"]}},{"name":"poolType","in":"query","required":false,"schema":{"type":"string","enum":["UNISWAP_V2","VISTA","UNISWAP_V3"]}},{"name":"targetLiquidity","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"listed","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rowsPerPage","in":"query","required":false,"schema":{"maximum":100,"minimum":0,"type":"integer","format":"int32","default":100}},{"name":"pageNum","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string","default":"DESC"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseGetCoinLBPResponse"}}}}}}},"/public/v1/coins/{coinAddress}":{"get":{"tags":["coin-public-controller"],"operationId":"getCoin_1","parameters":[{"name":"coinAddress","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCoinBasicResponse"}}}}}}},"/public/v1/coins/{coinAddress}/lbp":{"get":{"tags":["coin-public-controller"],"operationId":"getCoinLbpCoin","parameters":[{"name":"coinAddress","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCoinLBPResponse"}}}}}}},"/public/v1/coins/transactions":{"get":{"tags":["transaction-public-controller"],"operationId":"getSignData","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSignDataResponse"}}}}}}},"/public/v1/coins/last-lbp-buys":{"get":{"tags":["coin-public-controller"],"operationId":"getLastBuys","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLastBuysResponse"}}}}}}},"/public/v1/auth/nonce":{"get":{"tags":["auth-controller"],"operationId":"nonce","parameters":[{"name":"wallet","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Nonce"}}}}}}},"/v1/comments/{commentId}":{"delete":{"tags":["comment-controller"],"operationId":"deleteComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/coins/{coinId}/orders/{orderId}":{"delete":{"tags":["order-controller"],"operationId":"deleteOrder","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}},{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v1/coins/{coinId}/orders/auction-order/{orderId}":{"delete":{"tags":["order-controller"],"operationId":"deleteAuctionOrder","parameters":[{"name":"coinId","in":"path","required":true,"schema":{"type":"string"}},{"name":"orderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"BundleSubmissionData":{"required":["blockNumber","launchTxHash","success"],"type":"object","properties":{"success":{"type":"boolean"},"blockNumber":{"type":"integer"},"launchTxHash":{"type":"string"}}},"BuySellTax":{"required":["buyTax","sellTax"],"type":"object","properties":{"buyTax":{"type":"integer","format":"int32"},"sellTax":{"type":"integer","format":"int32"}}},"CheckVerificationResponse":{"required":["coin"],"type":"object","properties":{"coin":{"$ref":"#/components/schemas/CoinDto"}}},"CoinDto":{"required":["auctionOpen","bundleType","chainId","coinType","ethInPool","id","liquidityAdded","methods","paid","paymentWallet","poolType","requiredPayAmount","state","tokenInPool","verified","wizardStep"],"type":"object","properties":{"id":{"type":"string"},"contractAddress":{"type":"string"},"chainId":{"type":"integer","format":"int64"},"methods":{"type":"array","items":{"$ref":"#/components/schemas/MethodDto"}},"launchParams":{"oneOf":[{"$ref":"#/components/schemas/LaunchByLiquidityData"},{"$ref":"#/components/schemas/LaunchByMethodData"}]},"paid":{"type":"boolean"},"liquidityAdded":{"type":"boolean"},"maxTxInPercent":{"type":"number"},"buySupplyInPercent":{"type":"number"},"buyTax":{"type":"number"},"sellTax":{"type":"number"},"totalSupply":{"type":"integer"},"paymentWallet":{"type":"string"},"pairContractAddress":{"type":"string"},"lock":{"$ref":"#/components/schemas/Lock"},"verified":{"type":"boolean"},"name":{"type":"string"},"symbol":{"type":"string"},"abi":{"type":"string"},"state":{"type":"string","enum":["DRAFT","DEPLOYED","LAUNCHING","LAUNCHED"]},"requiredPayAmount":{"type":"number"},"coinType":{"type":"string","enum":["Generated","LBP","Hardfork","Imported","FromFile"]},"wizardStep":{"type":"integer","format":"int32"},"decimals":{"type":"integer","format":"int32"},"poolType":{"type":"string","enum":["UNISWAP_V2","VISTA","UNISWAP_V3"]},"ethInPool":{"type":"integer"},"tokenInPool":{"type":"integer"},"generatorParams":{"$ref":"#/components/schemas/GeneratorParams"},"deployedTokenData":{"$ref":"#/components/schemas/DeployedTokenData"},"bundleSubmissionData":{"$ref":"#/components/schemas/BundleSubmissionData"},"auctionSpots":{"type":"integer","format":"int32"},"auctionOpen":{"type":"boolean"},"auctionMaxTx":{"type":"number","format":"double"},"bundleType":{"type":"string","enum":["Regular","Auction","Lottery"]}}},"CoinFeatures":{"required":["antiSniperEnabled","antiWhale","blacklist","blacklistRenounce","burnFeeEnabled","changePairEnabled","feesExcludeEnabled","liquidityFeeEnabled","liquidityOnEnableTrading","lockOnLaunch","lpBurnEnabled","marketingFeeEnabled","reflectionFeeEnabled","safeDevActions","transferDelayEnabled"],"type":"object","properties":{"blacklist":{"type":"boolean"},"antiWhale":{"type":"boolean"},"safeDevActions":{"type":"boolean"},"liquidityOnEnableTrading":{"type":"boolean"},"burnFeeEnabled":{"type":"boolean"},"antiSniperEnabled":{"type":"boolean"},"marketingFeeEnabled":{"type":"boolean"},"liquidityFeeEnabled":{"type":"boolean"},"reflectionFeeEnabled":{"type":"boolean"},"blacklistRenounce":{"type":"boolean"},"feesExcludeEnabled":{"type":"boolean"},"changePairEnabled":{"type":"boolean"},"lpBurnEnabled":{"type":"boolean"},"transferDelayEnabled":{"type":"boolean"},"lockOnLaunch":{"type":"boolean"}}},"CoinParams":{"required":["burnFeePercent","caComment","liqFeePercent","lockType","marketingFeePercent","maxTxPercent","maxTxReduced","maxWalletPercent","minTxPercent","name","reflectFeePercent","symbol","taxRestrictions","totalBuyFee","totalSellFee","totalSupply"],"type":"object","properties":{"name":{"type":"string"},"caName":{"type":"string"},"symbol":{"type":"string"},"totalSupply":{"type":"number"},"caComment":{"type":"string"},"maxWalletPercent":{"type":"number","format":"double"},"maxTxPercent":{"type":"number","format":"double"},"minTxPercent":{"type":"number","format":"double"},"maxTxReduced":{"type":"number","format":"double"},"liqFeePercent":{"$ref":"#/components/schemas/BuySellTax"},"marketingFeePercent":{"$ref":"#/components/schemas/BuySellTax"},"reflectFeePercent":{"$ref":"#/components/schemas/BuySellTax"},"burnFeePercent":{"$ref":"#/components/schemas/BuySellTax"},"taxRestrictions":{"$ref":"#/components/schemas/BuySellTax"},"marketingAddress":{"type":"string"},"cloggPercent":{"type":"number","format":"double"},"initialLiquidity":{"type":"number"},"lockType":{"type":"string","enum":["None","Burn","Lock"]},"lockDays":{"type":"integer","format":"int32"},"dataUri":{"type":"string"},"tokenUri":{"type":"string"},"nftDescription":{"type":"string"},"externalUrl":{"type":"string"},"defaultTraitName":{"type":"string"},"defaultTraitValue":{"type":"string"},"totalBuyFee":{"type":"integer","format":"int32"},"totalSellFee":{"type":"integer","format":"int32"}}},"DeployedTokenData":{"required":["abi","byteCode","constructorParams","optimizationUsed","runs","sourceCode"],"type":"object","properties":{"sourceCode":{"type":"string"},"byteCode":{"type":"string"},"abi":{"type":"string"},"constructorParams":{"type":"array","items":{"type":"string"}},"constructorCompiled":{"type":"string"},"compilerVersion":{"type":"string"},"optimizationUsed":{"type":"boolean"},"runs":{"type":"integer","format":"int32"},"deployedByteCode":{"type":"string"}}},"GeneratorParams":{"required":["coinFeatures","coinParams","contractType","methodNames","sourceType"],"type":"object","properties":{"coinFeatures":{"$ref":"#/components/schemas/CoinFeatures"},"coinParams":{"$ref":"#/components/schemas/CoinParams"},"contractType":{"type":"string","enum":["Simple","Standard","Reflection","Burn","Custom"]},"wizardType":{"type":"string","enum":["Newbie","Advanced","ERC404"]},"methodNames":{"$ref":"#/components/schemas/MethodNames"},"sourceType":{"type":"string","enum":["Standard","Reflection","ERC404","Instant"]},"deployerAddress":{"type":"string"}}},"LaunchByLiquidityData":{"required":["ethers","signed","tokens"],"type":"object","allOf":[{"$ref":"#/components/schemas/LaunchParamsDto"},{"type":"object","properties":{"tokens":{"type":"integer"},"ethers":{"type":"integer"},"transactionId":{"type":"string"},"signed":{"type":"boolean"},"signLinkCode":{"type":"string"}}}]},"LaunchByMethodData":{"required":["args","liqOnMethod","methodId","signed"],"type":"object","allOf":[{"$ref":"#/components/schemas/LaunchParamsDto"},{"type":"object","properties":{"methodId":{"type":"integer","format":"int32"},"args":{"type":"array","items":{"type":"string"}},"transactionId":{"type":"string"},"signed":{"type":"boolean"},"signLinkCode":{"type":"string"},"tokens":{"type":"integer"},"ethers":{"type":"integer"},"liqOnMethod":{"type":"boolean"}}}]},"LaunchParamsDto":{"required":["type"],"type":"object","properties":{"type":{"type":"string"}},"discriminator":{"propertyName":"type"}},"Lock":{"required":["percent","type"],"type":"object","properties":{"type":{"type":"string","enum":["None","Burn","Lock"]},"percent":{"type":"number","format":"double"},"percentBurn":{"type":"number","format":"double"},"percentLock":{"type":"number","format":"double"},"percentOwner":{"type":"number","format":"double"},"link":{"type":"string"},"unlockDate":{"type":"string","format":"date-time"}}},"MethodDto":{"required":["address","id","inputs","name","stateMutability"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"address":{"type":"string"},"name":{"type":"string"},"inputs":{"type":"array","items":{"$ref":"#/components/schemas/MethodInputDto"}},"stateMutability":{"type":"string"}}},"MethodInputDto":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"}}},"MethodNames":{"type":"object","properties":{"nameEnableTrading":{"type":"string"},"nameRemoveLimits":{"type":"string"},"nameUpdateBuyFees":{"type":"string"},"nameUpdateSellFees":{"type":"string"},"nameSetAmmPair":{"type":"string"},"nameForceSwap":{"type":"string"},"nameForceSend":{"type":"string"},"nameMarketingWallet":{"type":"string"},"nameBlacklist":{"type":"string"},"nameRenounceBlacklist":{"type":"string"},"nameUpdateMaxTxAmount":{"type":"string"},"nameUpdateMaxWalletAmount":{"type":"string"},"nameExcludeFromMaxTransaction":{"type":"string"}}},"UpdateMaxTxRequest":{"required":["maxTxInPercent"],"type":"object","properties":{"maxTxInPercent":{"type":"number"}}},"UpdateMaxTxResponse":{"required":["coin"],"type":"object","properties":{"coin":{"$ref":"#/components/schemas/CoinDto"}}},"SignLaunchTransactionRequest":{"required":["signature"],"type":"object","properties":{"signature":{"type":"string"}}},"SignLaunchTransactionResponse":{"required":["coin"],"type":"object","properties":{"coin":{"$ref":"#/components/schemas/CoinDto"}}},"AddOrderResponse":{"required":["order"],"type":"object","properties":{"order":{"$ref":"#/components/schemas/OrderDto"}}},"AuctionOrder":{"required":["orderResponse","signData"],"type":"object","properties":{"signData":{"$ref":"#/components/schemas/OrderSignData"},"bribeSignData":{"$ref":"#/components/schemas/BribeSignData"},"orderResponse":{"$ref":"#/components/schemas/AddOrderResponse"}}},"BribeSignData":{"required":["ethAmount","inclulded","signed"],"type":"object","properties":{"to":{"type":"string"},"ethAmount":{"type":"number"},"transactionId":{"type":"string"},"signed":{"type":"boolean"},"signer":{"type":"string"},"inclulded":{"type":"boolean"}}},"OrderDto":{"required":["ethAmount","id","orderType","tokenAmount","tokenAmountInPercent"],"type":"object","properties":{"id":{"type":"string"},"ethAmount":{"type":"number"},"tokenAmount":{"type":"integer"},"tokenAmountInPercent":{"type":"number"},"code":{"type":"string"},"orderType":{"type":"string","enum":["Regular","Auction"]},"transaction":{"$ref":"#/components/schemas/TransactionDto"},"bribeTransaction":{"$ref":"#/components/schemas/TransactionDto"}}},"OrderSignData":{"required":["coinAddress","coinName","coinSymbol","ethAmount","methodName","signed","tokenAmountPercent"],"type":"object","allOf":[{"$ref":"#/components/schemas/SignData"},{"type":"object","properties":{"coinAddress":{"type":"string"},"coinName":{"type":"string"},"coinSymbol":{"type":"string"},"ethAmount":{"type":"number"},"tokenAmountPercent":{"type":"number"},"transactionId":{"type":"string"},"signed":{"type":"boolean"},"methodName":{"type":"string"},"signer":{"type":"string"}}}]},"TransactionDto":{"required":["callData","chainId","errors","from","gasLimit","hash","id","maxFeePerGas","maxPriorityFeePerGas","nonce","rawData","signed","to","type","value"],"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["LAUNCH","ORDER","BRIBE"]},"nonce":{"type":"integer"},"from":{"type":"string"},"to":{"type":"string"},"value":{"type":"integer"},"maxFeePerGas":{"type":"integer"},"maxPriorityFeePerGas":{"type":"integer"},"gasLimit":{"type":"integer"},"callData":{"type":"string"},"rawData":{"type":"string"},"hash":{"type":"string"},"signed":{"type":"boolean"},"chainId":{"type":"integer","format":"int64"},"errors":{"type":"array","items":{"type":"string","enum":["INSUFFICIENT_BALANCE","NONCE_DOES_NOT_MATCH","NO_ORDER_TX_FOR_BRIBE"]}}}},"ByLiquidity":{"required":["ethers","tokens","type"],"type":"object","allOf":[{"$ref":"#/components/schemas/LaunchDataUpdateRequest"},{"type":"object","properties":{"tokens":{"type":"integer"},"ethers":{"type":"integer"}}}]},"ByMethod":{"required":["args","liqOnMethod","methodId","type"],"type":"object","allOf":[{"$ref":"#/components/schemas/LaunchDataUpdateRequest"},{"type":"object","properties":{"methodId":{"type":"integer","format":"int32"},"args":{"type":"array","items":{"type":"string"}},"tokens":{"type":"integer"},"ethers":{"type":"integer"},"liqOnMethod":{"type":"boolean"}}}]},"LaunchDataUpdateRequest":{"required":["type"],"type":"object","properties":{"type":{"type":"string","enum":["METHOD","LIQUIDITY"]}},"discriminator":{"propertyName":"type"}},"BundleTypeUpdateRequest":{"required":["auctionSpots","bundleType"],"type":"object","properties":{"bundleType":{"type":"string","enum":["Regular","Auction","Lottery"]},"auctionSpots":{"type":"integer","format":"int32"},"auctionMaxTx":{"type":"number","format":"double"}}},"AuctionStateRequest":{"required":["auctionOpen"],"type":"object","properties":{"auctionOpen":{"type":"boolean"}}},"UpdateAbiRequest":{"required":["abi"],"type":"object","properties":{"abi":{"type":"string"}}},"UpdateAbiResponse":{"required":["coin"],"type":"object","properties":{"coin":{"$ref":"#/components/schemas/CoinDto"}}},"UpdateUserRequest":{"required":["username"],"type":"object","properties":{"username":{"type":"string"},"avatarUrl":{"type":"string"},"bio":{"type":"string"}}},"UserDto":{"required":["id","wallet"],"type":"object","properties":{"id":{"type":"string"},"wallet":{"type":"string"},"bio":{"type":"string"},"avatarUrl":{"type":"string"}}},"CheckerRequest":{"type":"object","properties":{"tokenUrl":{"type":"string"},"dataUrl":{"type":"string"}}},"CheckerResponse":{"required":["detailedMessages","status"],"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","ERROR"]},"generalErrorMessage":{"type":"string"},"detailedMessages":{"type":"array","items":{"type":"string"}}}},"ApiKey":{"type":"object","properties":{"key":{"type":"string"},"secret":{"type":"string"},"iv":{"type":"string"}}},"CexSettings":{"required":["apiKey","verified"],"type":"object","properties":{"verified":{"type":"boolean"},"apiKey":{"$ref":"#/components/schemas/ApiKey"},"fundingAddress":{"type":"string"}}},"CexBalanceResponse":{"required":["balance","cexType"],"type":"object","properties":{"cexType":{"type":"string","enum":["MEXC"]},"balance":{"type":"number","format":"double"}}},"WithdrawWallet":{"required":["address","amount"],"type":"object","properties":{"address":{"type":"string"},"amount":{"type":"number","format":"double"}}},"WithdrawWalletRequest":{"required":["wallets"],"type":"object","properties":{"wallets":{"type":"array","items":{"$ref":"#/components/schemas/WithdrawWallet"}}}},"WithdrawResult":{"required":["address","amount","success"],"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"amount":{"type":"number","format":"double"},"success":{"type":"boolean"},"error":{"type":"string"}}},"WithdrawWalletResponse":{"required":["results"],"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/WithdrawResult"}}}},"CreateCommentRequest":{"required":["comment","contractAddress"],"type":"object","properties":{"contractAddress":{"type":"string"},"comment":{"type":"string"}}},"CommentDto":{"required":["comment","contractAddress","id","wallet"],"type":"object","properties":{"id":{"type":"string"},"wallet":{"type":"string"},"contractAddress":{"type":"string"},"comment":{"type":"string"}}},"CreateCoinParams":{"required":["caSourceType","cloggPercent","coinType","ethAmount","liquidityOnEnableTrading","lockParams","marketingFee","ownerId","poolType","totalSupply"],"type":"object","properties":{"ownerId":{"type":"string"},"coinType":{"type":"string","enum":["Generated","LBP","Hardfork","Imported","FromFile"]},"poolType":{"type":"string","enum":["UNISWAP_V2","VISTA","UNISWAP_V3"]},"name":{"type":"string"},"symbol":{"type":"string"},"caName":{"type":"string"},"deployerAddress":{"type":"string"},"totalSupply":{"type":"number"},"ethAmount":{"type":"number"},"cloggPercent":{"type":"number"},"liquidityOnEnableTrading":{"type":"boolean"},"marketingFee":{"$ref":"#/components/schemas/BuySellTax"},"ownerWallet":{"type":"string"},"lockParams":{"$ref":"#/components/schemas/LockParams"},"caSourceType":{"type":"string","enum":["Standard","Reflection","ERC404","Instant"]}}},"CreateCoinRequest":{"required":["poolType","type"],"type":"object","properties":{"contractAddress":{"type":"string"},"type":{"type":"string","enum":["Generated","LBP","Hardfork","Imported","FromFile"]},"poolType":{"type":"string","enum":["UNISWAP_V2","VISTA","UNISWAP_V3"]},"abi":{"type":"string"},"createCoinParams":{"$ref":"#/components/schemas/CreateCoinParams"}}},"LockParams":{"required":["lockDays","lockType"],"type":"object","properties":{"lockDays":{"type":"integer","format":"int32"},"lockType":{"type":"string","enum":["None","Burn","Lock"]}}},"AddOrderRequest":{"required":["randomizeTokenAmount"],"type":"object","properties":{"randomizeTokenAmount":{"type":"boolean"},"fixedAmountPercent":{"type":"number","format":"double"}}},"SignOrderRequest":{"required":["pk"],"type":"object","properties":{"pk":{"type":"string"}}},"SignOrderResponse":{"type":"object"},"SignOrderRequestInner":{"required":["orderId","pk"],"type":"object","properties":{"pk":{"type":"string"},"orderId":{"type":"string"}}},"SignOrderRequestMass":{"required":["requests"],"type":"object","properties":{"requests":{"type":"array","items":{"$ref":"#/components/schemas/SignOrderRequestInner"}}}},"UpdateBribeRequest":{"required":["bribe"],"type":"object","properties":{"bribe":{"type":"integer"}}},"Bundle":{"required":["blockNumber"],"type":"object","properties":{"blockNumber":{"type":"integer"},"hash":{"type":"string"}},"description":"Присутствует только в случае status <> 'SUCCESS'"},"BundleSubmissionError":{"required":["message"],"type":"object","allOf":[{"$ref":"#/components/schemas/CoinLaunchError"},{"type":"object","properties":{"message":{"type":"string"}}}]},"CoinLaunchError":{"required":["type"],"type":"object","properties":{"type":{"type":"string"}},"discriminator":{"propertyName":"type"}},"CoinLaunchResponse":{"required":["coin","errors","status"],"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","VALIDATION_ERROR","BUNDLE_SUBMISSION_ERROR"]},"coin":{"$ref":"#/components/schemas/CoinDto"},"bundle":{"$ref":"#/components/schemas/Bundle"},"errors":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/BundleSubmissionError"},{"$ref":"#/components/schemas/LaunchTransactionMissed"},{"$ref":"#/components/schemas/OrderSameFrom"},{"$ref":"#/components/schemas/OrderWithoutTx"},{"$ref":"#/components/schemas/OrdersIsEmpty"},{"$ref":"#/components/schemas/ServiceUnpaid"},{"$ref":"#/components/schemas/TransactionInvalid"},{"$ref":"#/components/schemas/TransactionUnsigned"}]}}}},"LaunchTransactionMissed":{"type":"object","allOf":[{"$ref":"#/components/schemas/CoinLaunchError"}]},"OrderSameFrom":{"required":["orderId"],"type":"object","allOf":[{"$ref":"#/components/schemas/CoinLaunchError"},{"type":"object","properties":{"orderId":{"type":"string"}}}]},"OrderWithoutTx":{"required":["orderId"],"type":"object","allOf":[{"$ref":"#/components/schemas/CoinLaunchError"},{"type":"object","properties":{"orderId":{"type":"string"}}}]},"OrdersIsEmpty":{"type":"object","allOf":[{"$ref":"#/components/schemas/CoinLaunchError"}]},"ServiceUnpaid":{"type":"object","allOf":[{"$ref":"#/components/schemas/CoinLaunchError"}]},"TransactionInvalid":{"required":["errors","id"],"type":"object","allOf":[{"$ref":"#/components/schemas/CoinLaunchError"},{"type":"object","properties":{"id":{"type":"string"},"errors":{"required":["all","empty","head","size","tail"],"type":"array","properties":{"head":{"type":"string","enum":["INSUFFICIENT_BALANCE","NONCE_DOES_NOT_MATCH","NO_ORDER_TX_FOR_BRIBE"]},"tail":{"type":"array","items":{"type":"string","enum":["INSUFFICIENT_BALANCE","NONCE_DOES_NOT_MATCH","NO_ORDER_TX_FOR_BRIBE"]}},"size":{"type":"integer","format":"int32"},"empty":{"type":"boolean"},"all":{"type":"array","items":{"type":"string","enum":["INSUFFICIENT_BALANCE","NONCE_DOES_NOT_MATCH","NO_ORDER_TX_FOR_BRIBE"]}}},"items":{"type":"string","enum":["INSUFFICIENT_BALANCE","NONCE_DOES_NOT_MATCH","NO_ORDER_TX_FOR_BRIBE"]}}}}]},"TransactionUnsigned":{"required":["id"],"type":"object","allOf":[{"$ref":"#/components/schemas/CoinLaunchError"},{"type":"object","properties":{"id":{"type":"string"}}}]},"GetLaunchMethodTransactionResponse":{"type":"object","properties":{"transaction":{"$ref":"#/components/schemas/TransactionDto"}}},"DeployCoinRequest":{"required":["coinAddress"],"type":"object","properties":{"coinAddress":{"type":"string"}}},"AdditionalMetadataDto":{"required":["banner","description"],"type":"object","properties":{"banner":{"type":"string"},"description":{"type":"string"}}},"TaskSubmitRequest":{"required":["mac","prediction","wallet"],"type":"object","properties":{"wallet":{"type":"string"},"mac":{"type":"string"},"prediction":{"type":"integer","format":"int64"}}},"UploadFileResponse":{"required":["url"],"type":"object","properties":{"url":{"type":"string"}}},"CreateTransactionRequest":{"required":["code","from"],"type":"object","properties":{"code":{"type":"string"},"from":{"type":"string"}}},"CreateTransactionResponse":{"required":["transaction"],"type":"object","properties":{"transaction":{"$ref":"#/components/schemas/TransactionDto"}}},"SignTransactionRequest":{"required":["signature"],"type":"object","properties":{"signature":{"type":"string"}}},"SignTransactionResponse":{"type":"object"},"LoginRequest":{"required":["nonce","sign","wallet"],"type":"object","properties":{"wallet":{"type":"string"},"nonce":{"type":"string"},"sign":{"type":"string"}}},"LoginResponse":{"required":["token"],"type":"object","properties":{"token":{"type":"string"}}},"ListResponseCoinDto":{"required":["items","pageNumber","rowsPerPage","totalElements","totalPages"],"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"rowsPerPage":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/CoinDto"}}}},"GetCoinResponse":{"required":["coin"],"type":"object","properties":{"coin":{"$ref":"#/components/schemas/CoinDto"}}},"GetOrdersResponse":{"required":["orders","totalOrders","totalSnipePercent"],"type":"object","properties":{"orders":{"type":"array","items":{"$ref":"#/components/schemas/OrderDto"}},"totalOrders":{"type":"integer","format":"int32"},"totalSnipePercent":{"type":"number"}}},"AuctionStatsResponse":{"required":["effectiveBribe","minBribe","spots","totalBribe","totalOrders","validOrders"],"type":"object","properties":{"totalBribe":{"type":"integer"},"effectiveBribe":{"type":"integer"},"minBribe":{"type":"integer"},"totalOrders":{"type":"integer","format":"int32"},"validOrders":{"type":"integer","format":"int32"},"spots":{"type":"integer","format":"int32"}}},"SseEmitter":{"type":"object","properties":{"timeout":{"type":"integer","format":"int64"}}},"NodeNetStat":{"required":["activeUsers","hourStats","minuteStats","tasks1h","tasks24h","tasks5min","totalTasks","uniqueUsers"],"type":"object","properties":{"totalTasks":{"type":"integer","format":"int64"},"uniqueUsers":{"type":"integer","format":"int32"},"activeUsers":{"type":"integer","format":"int32"},"tasks1h":{"type":"integer","format":"int64"},"tasks5min":{"type":"integer","format":"int64"},"tasks24h":{"type":"integer","format":"int64"},"hourStats":{"type":"array","items":{"$ref":"#/components/schemas/NodeStatShort"}},"minuteStats":{"type":"array","items":{"$ref":"#/components/schemas/NodeStatShort"}}}},"NodeStatShort":{"required":["date","tasks","users"],"type":"object","properties":{"date":{"type":"string","format":"date-time"},"tasks":{"type":"integer","format":"int64"},"users":{"type":"integer","format":"int32"}}},"Dashboard":{"required":["dataProcessedCumulative","earning15Days","earning30Days","earningsToday","nodes","todayEarnings","todayTasks","totalEarnings","totalTasks","unrealizedBalance"],"type":"object","properties":{"unrealizedBalance":{"type":"integer"},"todayEarnings":{"type":"integer"},"todayTasks":{"type":"integer","format":"int64"},"totalEarnings":{"type":"integer"},"totalTasks":{"type":"integer","format":"int64"},"connectedNode":{"$ref":"#/components/schemas/Node"},"earningsToday":{"type":"array","items":{"$ref":"#/components/schemas/EarningStat"}},"earning15Days":{"type":"array","items":{"$ref":"#/components/schemas/EarningStat"}},"dataProcessedCumulative":{"$ref":"#/components/schemas/DataProcessedCumulative"},"earning30Days":{"type":"array","items":{"$ref":"#/components/schemas/EarningStat"}},"nodes":{"type":"array","items":{"$ref":"#/components/schemas/Node"}}}},"DataProcessedCumulative":{"required":["last15Days","totalTasks"],"type":"object","properties":{"totalTasks":{"type":"integer","format":"int64"},"last15Days":{"type":"array","items":{"type":"integer","format":"int64"}}}},"EarningStat":{"required":["bytes","date","earnings","share"],"type":"object","properties":{"date":{"type":"string","format":"date-time"},"earnings":{"type":"integer"},"bytes":{"type":"integer","format":"int64"},"share":{"type":"number"}}},"Node":{"required":["connected","id","name","nodeScore","timeConnected"],"type":"object","properties":{"connected":{"type":"boolean"},"name":{"type":"string"},"id":{"type":"string"},"timeConnected":{"type":"integer","format":"int32"},"nodeScore":{"type":"integer","format":"int32"}}},"Task":{"required":["image"],"type":"object","properties":{"image":{"type":"array","items":{"type":"number","format":"double"}}}},"GetCoinLBPResponse":{"required":["coinAddress","coinName","coinSymbol","comments","currentPriceUsd","holders","liquidityUsd","lock","marketCapUsd","percentToBuy","poolType","socials","tokensToBuy","totalSupply","transactions","volumeEth","volumeUsd"],"type":"object","properties":{"coinAddress":{"type":"string"},"pairAddress":{"type":"string"},"coinName":{"type":"string"},"coinSymbol":{"type":"string"},"totalSupply":{"type":"integer"},"listed":{"type":"boolean"},"state":{"type":"string","enum":["RISING","RISED","LIVE"]},"ethersToRise":{"type":"integer"},"ethRaised":{"type":"integer"},"ownerWallet":{"type":"string"},"currentPrice":{"type":"number"},"imgUri":{"type":"string"},"currentPriceUsd":{"type":"number"},"tokensToBuy":{"type":"integer"},"percentToBuy":{"type":"number"},"socials":{"type":"object","additionalProperties":{"type":"string"}},"transactions":{"type":"array","items":{"$ref":"#/components/schemas/LBPTransactionDto"}},"holders":{"type":"array","items":{"$ref":"#/components/schemas/HolderDto"}},"comments":{"type":"array","items":{"$ref":"#/components/schemas/CommentDto"}},"curveTotalSupply":{"type":"integer"},"lock":{"type":"string","enum":["None","Burn","Lock"]},"unlockTimestamp":{"type":"string","format":"date-time"},"features":{"$ref":"#/components/schemas/LBPFeatures"},"additionalMetadata":{"$ref":"#/components/schemas/AdditionalMetadataDto"},"volumeEth":{"type":"integer"},"volumeUsd":{"type":"number"},"marketCapUsd":{"type":"number"},"liquidityUsd":{"type":"number"},"poolType":{"type":"string","enum":["UNISWAP_V2","VISTA","UNISWAP_V3"]}}},"HolderDto":{"required":["address","balance","percent","type"],"type":"object","properties":{"address":{"type":"string"},"balance":{"type":"integer"},"percent":{"type":"number"},"type":{"type":"string","enum":["DEV","USER","POOL"]}}},"LBPFeatures":{"required":["buyMarketingFee","marketingWallet","maxTxPercent","maxWalletPercent","sellMarketingFee"],"type":"object","properties":{"buyMarketingFee":{"type":"integer"},"sellMarketingFee":{"type":"integer"},"marketingWallet":{"type":"string"},"maxTxPercent":{"type":"integer"},"maxWalletPercent":{"type":"integer"}}},"LBPTransactionDto":{"required":["address","blockNumber","chainId","createdAt","curPriceUsd","currPrice","ethAmount","ethersInPool","from","logIndex","tokenAmount","tokensInPool","txHash","type","updatedAt"],"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"chainId":{"type":"integer","format":"int64"},"blockNumber":{"type":"integer","format":"int64"},"logIndex":{"type":"integer","format":"int64"},"address":{"type":"string"},"type":{"type":"string","enum":["BUY","SELL"]},"ethAmount":{"type":"integer"},"tokenAmount":{"type":"integer"},"from":{"type":"string"},"currPrice":{"type":"number"},"ethersInPool":{"type":"integer"},"tokensInPool":{"type":"integer"},"txHash":{"type":"string"},"curPriceUsd":{"type":"number"}}},"ListResponseGetCoinLBPResponse":{"required":["items","pageNumber","rowsPerPage","totalElements","totalPages"],"type":"object","properties":{"pageNumber":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"rowsPerPage":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/GetCoinLBPResponse"}}}},"GetCoinBasicResponse":{"required":["auctionOpen","coinAddress","coinName","coinSymbol","launched","pairAddress"],"type":"object","properties":{"coinAddress":{"type":"string"},"pairAddress":{"type":"string"},"coinName":{"type":"string"},"coinSymbol":{"type":"string"},"launched":{"type":"boolean"},"auctionOpen":{"type":"boolean"}}},"GetSignDataResponse":{"required":["data"],"type":"object","properties":{"data":{"oneOf":[{"$ref":"#/components/schemas/LaunchSignData"},{"$ref":"#/components/schemas/OrderSignData"}]}}},"LaunchSignData":{"required":["args","coinAddress","coinName","coinSymbol","ethAmount","methodId","methodName","signed"],"type":"object","allOf":[{"$ref":"#/components/schemas/SignData"},{"type":"object","properties":{"coinAddress":{"type":"string"},"coinName":{"type":"string"},"coinSymbol":{"type":"string"},"ethAmount":{"type":"number"},"transactionId":{"type":"string"},"signed":{"type":"boolean"},"signer":{"type":"string"},"methodId":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"args":{"type":"array","items":{"type":"string"}}}}]},"SignData":{"required":["type"],"type":"object","properties":{"type":{"type":"string"}},"discriminator":{"propertyName":"type"}},"GetTransactionResponse":{"type":"object","properties":{"transaction":{"$ref":"#/components/schemas/TransactionDto"}}},"GetLastBuysResponse":{"required":["buys"],"type":"object","properties":{"buys":{"type":"array","items":{"$ref":"#/components/schemas/LastBuyDto"}}}},"LastBuyDto":{"required":["buyer","ethAmount","tokenAddress","tokenAmount","tokenAvatarUrl","tokenName","tokenSymbol"],"type":"object","properties":{"ethAmount":{"type":"integer"},"tokenAmount":{"type":"integer"},"buyer":{"type":"string"},"tokenAddress":{"type":"string"},"tokenAvatarUrl":{"type":"string"},"tokenName":{"type":"string"},"tokenSymbol":{"type":"string"}}},"Nonce":{"required":["nonce"],"type":"object","properties":{"nonce":{"type":"string"}}},"DeleteLaunchTransactionResponse":{"required":["coin"],"type":"object","properties":{"coin":{"$ref":"#/components/schemas/CoinDto"}}}}}}