
@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Thin.eot');
  src: local('/fonts/TT Mussels Thin'), local('/fonts/TTMussels-Thin'),
  url('/fonts/TTMussels-Thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-Thin.woff2') format('woff2'),
  url('/fonts/TTMussels-Thin.woff') format('woff'),
  url('/fonts/TTMussels-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Regular.eot');
  src: local('/fonts/TT Mussels Regular'), local('/fonts/TTMussels-Regular'),
  url('/fonts/TTMussels-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-Regular.woff2') format('woff2'),
  url('/fonts/TTMussels-Regular.woff') format('woff'),
  url('/fonts/TTMussels-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-LightItalic.eot');
  src: local('/fonts/TT Mussels Light Italic'), local('/fonts/TTMussels-LightItalic'),
  url('/fonts/TTMussels-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-LightItalic.woff2') format('woff2'),
  url('/fonts/TTMussels-LightItalic.woff') format('woff'),
  url('/fonts/TTMussels-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Bold.eot');
  src: local('/fonts/TT Mussels Bold'), local('/fonts/TTMussels-Bold'),
  url('/fonts/TTMussels-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-Bold.woff2') format('woff2'),
  url('/fonts/TTMussels-Bold.woff') format('woff'),
  url('/fonts/TTMussels-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-ExtraBold.eot');
  src: local('/fonts/TT Mussels ExtraBold'), local('/fonts/TTMussels-ExtraBold'),
  url('/fonts/TTMussels-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-ExtraBold.woff2') format('woff2'),
  url('/fonts/TTMussels-ExtraBold.woff') format('woff'),
  url('/fonts/TTMussels-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Medium.eot');
  src: local('/fonts/TT Mussels Medium'), local('/fonts/TTMussels-Medium'),
  url('/fonts/TTMussels-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-Medium.woff2') format('woff2'),
  url('/fonts/TTMussels-Medium.woff') format('woff'),
  url('/fonts/TTMussels-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-ThinItalic.eot');
  src: local('/fonts/TT Mussels Thin Italic'), local('/fonts/TTMussels-ThinItalic'),
  url('/fonts/TTMussels-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-ThinItalic.woff2') format('woff2'),
  url('/fonts/TTMussels-ThinItalic.woff') format('woff'),
  url('/fonts/TTMussels-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-DemiBold.eot');
  src: local('/fonts/TT Mussels DemiBold'), local('/fonts/TTMussels-DemiBold'),
  url('/fonts/TTMussels-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-DemiBold.woff2') format('woff2'),
  url('/fonts/TTMussels-DemiBold.woff') format('woff'),
  url('/fonts/TTMussels-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Black.eot');
  src: local('/fonts/TT Mussels Black'), local('/fonts/TTMussels-Black'),
  url('/fonts/TTMussels-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-Black.woff2') format('woff2'),
  url('/fonts/TTMussels-Black.woff') format('woff'),
  url('/fonts/TTMussels-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Italic.eot');
  src: local('/fonts/TT Mussels Italic'), local('/fonts/TTMussels-Italic'),
  url('/fonts/TTMussels-Italic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-Italic.woff2') format('woff2'),
  url('/fonts/TTMussels-Italic.woff') format('woff'),
  url('/fonts/TTMussels-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-BoldItalic.eot');
  src: local('/fonts/TT Mussels Bold Italic'), local('/fonts/TTMussels-BoldItalic'),
  url('/fonts/TTMussels-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-BoldItalic.woff2') format('woff2'),
  url('/fonts/TTMussels-BoldItalic.woff') format('woff'),
  url('/fonts/TTMussels-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-ExtraBoldItalic.eot');
  src: local('/fonts/TT Mussels ExtraBold Italic'), local('/fonts/TTMussels-ExtraBoldItalic'),
  url('/fonts/TTMussels-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-ExtraBoldItalic.woff2') format('woff2'),
  url('/fonts/TTMussels-ExtraBoldItalic.woff') format('woff'),
  url('/fonts/TTMussels-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-MediumItalic.eot');
  src: local('/fonts/TT Mussels Medium Italic'), local('/fonts/TTMussels-MediumItalic'),
  url('/fonts/TTMussels-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-MediumItalic.woff2') format('woff2'),
  url('/fonts/TTMussels-MediumItalic.woff') format('woff'),
  url('/fonts/TTMussels-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-DemiBoldItalic.eot');
  src: local('/fonts/TT Mussels DemiBold Italic'), local('/fonts/TTMussels-DemiBoldItalic'),
  url('/fonts/TTMussels-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-DemiBoldItalic.woff2') format('woff2'),
  url('/fonts/TTMussels-DemiBoldItalic.woff') format('woff'),
  url('/fonts/TTMussels-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-Light.eot');
  src: local('/fonts/TT Mussels Light'), local('/fonts/TTMussels-Light'),
  url('/fonts/TTMussels-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-Light.woff2') format('woff2'),
  url('/fonts/TTMussels-Light.woff') format('woff'),
  url('/fonts/TTMussels-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-BlackItalic.eot');
  src: local('/fonts/TT Mussels Black Italic'), local('/fonts/TTMussels-BlackItalic'),
  url('/fonts/TTMussels-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-BlackItalic.woff2') format('woff2'),
  url('/fonts/TTMussels-BlackItalic.woff') format('woff'),
  url('/fonts/TTMussels-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-ExtraLightItalic.eot');
  src: local('/fonts/TT Mussels ExtraLight Italic'), local('/fonts/TTMussels-ExtraLightItalic'),
  url('/fonts/TTMussels-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-ExtraLightItalic.woff2') format('woff2'),
  url('/fonts/TTMussels-ExtraLightItalic.woff') format('woff'),
  url('/fonts/TTMussels-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Mussels';
  src: url('/fonts/TTMussels-ExtraLight.eot');
  src: local('/fonts/TT Mussels ExtraLight'), local('/fonts/TTMussels-ExtraLight'),
  url('/fonts/TTMussels-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('/fonts/TTMussels-ExtraLight.woff2') format('woff2'),
  url('/fonts/TTMussels-ExtraLight.woff') format('woff'),
  url('/fonts/TTMussels-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


/*

@font-face {
  font-family: 'Tt Mussels';
  src: url('/fonts/Tt Mussels-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tt Mussels';
  src: url('/fonts/Tt Mussels-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tt Mussels';
  src: url('/fonts/Tt Mussels-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
*/

:root {
  background-color: #f8f8f8;
  color: #181818;
  color-scheme: light dark;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}
